*{ padding:0; margin:0; width:100%; box-sizing: border-box;
}
body {padding:0; width:100%; margin:0; }
#contenedor {width:100%; padding:0; margin:0;

}

#navbar { padding: 20px; text-align: center; background-color: #FFFEF2; width:100%; margin:0; 
	
}

#navbar > a { padding-right: 20px; padding-left: 20px; font-family: serif; font-heigh: bold; font-size:18px; letter-spacing:2px; text-decoration:none; color:black;
	
}
#portada {width: 100%; margin:0; padding:0;}
.grid {display: inline-grid;
		grid-template-columns: 50% 50%;
		
}

#foto {width:50%; margin-left:30%;
}
#h1 {display:inline; color: brown; font-heigh:bold; font-size: 60px; padding:30px; 
}
main p {display:block:}

#footer {background-color: #FFFEF2; width:100%; padding: 30px; margin:0; text-align:center;

}

#footer p { padding: 10px; 

}
#footer img {width:30px; padding: 5px; 
}

